.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

#register-form{
  width: 200px;
  border: 2px solid black;
  padding: 2em;
  border-radius: 15px;
}

#register-message-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.register-message {
  padding: 1em;
  width: 300px;
  height: 300px;
  color: black;
  border-radius: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-message img {
  width: 100px;
  padding: 1em;
  border-radius: 15px;
}

#products-cards-container{
  width: 100%;
  padding-top: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.product-card{
  color: black;
  width: 300px;
  background-color: white;
  border-radius: 15px;
  padding: 1em;
  cursor: pointer;
  margin: 1em;
}

.product-card img{
  width: 200px;
}


#create-product-container, #edit-product-container, #delete-product-container {
  width: 750px;
  /* width: 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 1em;
  backdrop-filter: blur(10px);
  z-index: 2;
}

#create-product-container input, #edit-product-container input, #delete-product-container input {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 70%;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#edit-product-form, #delete-product-form{
  background: rgba(0, 0, 0, 0.4);
}