/* Register & Login Message */

.message-body {
  padding: 1em;
  width: 300px;
  height: 300px;
  color: black;
  border-radius: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-body img {
  width: 100px;
  padding: 1em;
  border-radius: 15px;
}

/* RATING 
https://uiverse.io/SelfMadeSystem/selfish-starfish-40
*/

/* BUTTONS 
https://uiverse.io/kleenpulse/dangerous-horse-41
*/

/* LOADING EFFECTS
https://uiverse.io/Praashoo7/funny-treefrog-32
https://uiverse.io/Nawsome/purple-mule-73
*/

/* COOL HOVER EFFECT
https://uiverse.io/Nawsome/cowardly-squid-50
*/

/* CARD */
/* https://uiverse.io/alexruix/moody-goose-93 */

/* INPUT FILE */
/* https://uiverse.io/Yaya12085/yellow-goat-62 */